<!DOCTYPE>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>账户登录</title>
    <meta name="keywords" content="Nifty,nifty bootstrap,nifty admin,nifty admin 下载"/>
    <meta name="description" content="nifty admin 一款非常优秀的bootstrap后台管理html UI"/>
    <!--STYLESHEET-->
    <!--=================================================-->
    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet'
          type='text/css'>
    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="http://www.isok.cc/css/bootstrap.min.css" rel="stylesheet">
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="http://www.isok.cc/css/nifty.min.css" rel="stylesheet">
    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="http://www.isok.cc/css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <!--Demo [ DEMONSTRATION ]-->
    <link href="http://www.isok.cc/css/demo/nifty-demo.min.css" rel="stylesheet">
    <!--Magic Checkbox [ OPTIONAL ]-->
    <link href="http://www.isok.cc/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="http://www.isok.cc/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="http://www.isok.cc/plugins/pace/pace.min.js"></script>
    <!--jQuery [ REQUIRED ]-->
    <script src="http://www.isok.cc/js/jquery.min.js"></script>
    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="http://www.isok.cc/js/bootstrap.min.js"></script>
    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="http://www.isok.cc/js/nifty.min.js"></script>
    <!--=================================================-->
    <!--Background Image [ DEMONSTRATION ]-->
    <script src="http://www.isok.cc/js/demo/bg-images.js"></script>
    <!--=================================================

    REQUIRED
    You must include this in your project.


    RECOMMENDED
    This category must be included but you may modify which plugins or components which should be included in your project.


    OPTIONAL
    Optional plugins. You may choose whether to include it in your project or not.


    DEMONSTRATION
    This is to be removed, used for demonstration purposes only. This category must not be included in your project.


    SAMPLE
    Some script samples which explain how to initialize plugins or components. This category should not be included in your project.


    Detailed information and more samples can be found in the document.

    =================================================-->
</head>
<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="cls-container">
    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay">
    </div>
    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">
                        账户登录</h1>
                    <p>
                        登录你的帐户</p>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="username" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="password">
                    </div>
                    <div class="checkbox pad-btm text-left">
                        <!--<input   type="checkbox">-->
                        <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox" name="remember-me"
                               value="true" th:checked="checked"/>
                        <label for="demo-form-checkbox">
                            记住我</label>
                    </div>
                    <p class="text-pink" th:text="${error}"></p>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                        登录
                    </button>
                </form>
            </div>
            <div class="pad-all">
                <a href="pages-password-reminder.html" class="btn-link mar-rgt">忘记密码?</a>
                <a th:href="@{/register.do}" class="btn-link mar-lft">注册</a>
                <div class="media pad-top bord-top">
                    <div class="pull-right">
                        <a href="#" class="pad-rgt"><i class="demo-psi-facebook icon-lg text-primary"></i>
                        </a><a href="#" class="pad-rgt"><i class="demo-psi-twitter icon-lg text-info"></i>
                    </a><a href="#" class="pad-rgt"><i class="demo-psi-google-plus icon-lg text-danger">
                    </i></a>
                    </div>
                    <div class="media-body text-left text-bold text-main">
                        Login with
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!-- DEMO PURPOSE ONLY -->
    <!--===================================================-->
    <div class="demo-bg">
        <div id="demo-bg-list">
            <div class="demo-loading">
                <i class="psi-repeat-2"></i>
            </div>
            <img class="demo-chg-bg bg-trans active" src="/img/timg.jpg" alt="Background Image">
            <img class="demo-chg-bg" src="/img/bg-trns.jpg" alt="Background Image">
        </div>
    </div>
    <!--===================================================-->
</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
</body>
</html>
